* {
    box-sizing: border-box;
}

.signin_wrapper {
    width: 350px;
    margin: 0 auto;
    margin-top: 94px;
    margin-bottom: 100px;
}

.signin_title {
    height: 58px;
    font-size: 48px;
    font-weight: 200;
    line-height: 1.21;
    text-align: center;
    margin-bottom: 55px;
    color: #1f262a;
}

.login_form {
    display: block;
}

.login_input_area {
    display: flex;
    position: relative;
    margin-top: 12px;
    width: 100%;
    height: 55px;
    border-radius: 6px;
    border: 1px solid #aeb8bd;
}

.login_input {
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: 300;
    border-radius: 6px;
    padding-left: 20px;
    outline: none;
    border: none;
    vertical-align: middle;
}

.login_button_area {
    display: inline-block;
    vertical-align: top;
    max-width: 350px;
    margin-top: 12px;
}

.login_submit {
    width: 350px;
    border: solid 1px #394247;
    color: #394247;
    opacity: 0.4;
    height: 55px;
    line-height: 55px;
    border-radius: 100px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}